# Ignore all
*
# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
!Dockerfile
# Ignore input data files
data.*
log.lammps
dataset/
vtk_output/
build/
*.log
dump.*
*.swp
tmp/
test*
inanbi
personal.cmake
rebuildandrun.sh
*.vtk
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
examples/bidirectionalSingleCell/out.lmp4cell
examples/bidirectionalSingleCell/CMakeLists.txt
setup3.sh
setup2.sh
setup.sh
examples/bidirectionalSingleCell/in.rbcmolecule
examples/bidirectionalSingleCell/in.deposit

examples/anchored/checkpoint.dat
